<h2 class="text-left text-secondary"><%= image_tag(@user.avatar.url, alt: 'Image',
  style: 'width:75px; height:75px;border-radius:5px') if @user.avatar? %> <%= @user.first_name %>
  <%= @user.last_name %>
<p class="text-left"><%= @user.email %> <br /><%= @user.user_type %></p>
</h2>
<p class="text-left"><%= link_to 'Edit me', edit_user_registration_path, class: "btn btn-primary" %>
