<!DOCTYPE html>
<html>
  <head>
    <title>SchoolOfFuture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <div class="card">
      <div class="card-header d-inline p-2 bg-primary text-white">
        <% if user_signed_in? %>
        <p class="text-right"><%= link_to 'Edit me', edit_user_registration_path, class: "btn btn-primary" %><%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: "btn btn-primary" %></p>
        <% else %>
        <p class="text-right"><%= link_to 'Log in', new_user_session_path, class: "btn btn-primary" %>
          <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
        </p>
        <% end %>
        <p style="font-size: 35px; margin: 0 auto; font-style:oblique">SchoolOfFuture</p>
      </div>
      <% if user_signed_in? %>
        <div class="card-header">
          <%= render 'layouts/partial' %>
        </div>
      <% end %>
      <% is_errors1 = false %>
      <div class="card-body">
      <% if notice %>
        <p class="alert alert-success"><%= notice %><% is_errors1 = true %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %><% is_errors1 = true %></p>
      <% end %>
      <div class="text-center">
      <% if !is_errors1 %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <% end %>
      <%= yield %>
      </div>
      </div>
      <div class="card-footer text-muted">
        <p class="text-right" style="font-size:14px; color:grey; margin: 0 15px 0 0">Anton Datsenko. All rights are reserved, 2018</p>
      </div>
    </div>
  </body>
</html>
